In [1]:
import numpy as np
import pandas as pd

import sys
sys.path.append("../game")
from tic_tac_toe import Training

pygame 2.1.2 (SDL 2.0.18, Python 3.10.1)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [73]:
games = 100000
state = (1, 2, 1, 0, 2, 0, 0, 0, 0)

t = Training(0.95, 0.1, [1, 0.1, 0.5])
history = t.start(games, history=state)
history = pd.DataFrame(history, columns=["game", "p1", "p2"])

100%|██████████| 100000/100000 [00:15<00:00, 6432.99it/s]

In [74]:
# Check if rows have change
history_p1 = history[["game", "p1"]]
history_p1["match"] = history_p1["p1"].eq(history_p1["p1"].shift())

# Only save rows that have changed
changes_p1 = history_p1.loc[history_p1["match"] == False].drop(columns=["match"])

# Unnest p1 in multiple columns
unnest_p1 = pd.DataFrame(changes_p1["p1"].to_list(), columns=["0", "1", "2", "3", "4", "5", "6", "7", "8"])
unnest_p1 = unnest_p1.join(changes_p1["game"].reset_index()).drop(columns=["index"])
first_column = unnest_p1.pop("game")
unnest_p1.insert(0, "game", first_column)

In [89]:
unnest_p1.round(4)[:5]

   game    0    1    2       3    4       5       6    7    8
0     1  0.0  0.0  0.0  0.0000  0.0  0.0000  0.0000  0.0  0.0
1  3873  0.0  0.0  0.0  0.0095  0.0  0.0000  0.0000  0.0  0.0
2  3925  0.0  0.0  0.0  0.0095  0.0  0.0026  0.0000  0.0  0.0
3  4667  0.0  0.0  0.0  0.0095  0.0  0.0026  0.0257  0.0  0.0
4  4670  0.0  0.0  0.0  0.0095  0.0  0.0026  0.0232  0.0  0.0

In [90]:
half = int(unnest_p1.shape[0] / 2)
unnest_p1.round(4)[half:half+5]

       game    0    1    2       3    4       5      6       7       8
4405  50494  0.0  0.0  0.0  0.0649  0.0  0.1077  0.045  0.4953  0.0785
4406  50495  0.0  0.0  0.0  0.0649  0.0  0.1077  0.045  0.4957  0.0785
4407  50496  0.0  0.0  0.0  0.0649  0.0  0.1077  0.045  0.5001  0.0785
4408  50497  0.0  0.0  0.0  0.0649  0.0  0.1077  0.045  0.5032  0.0785
4409  50498  0.0  0.0  0.0  0.0649  0.0  0.1077  0.045  0.5059  0.0785

In [91]:
unnest_p1.round(4)[-5:]

       game    0    1    2       3    4       5       6       7       8
8805  99567  0.0  0.0  0.0  0.0445  0.0  0.0216  0.0976  0.4739  0.0639
8806  99631  0.0  0.0  0.0  0.0445  0.0  0.0216  0.0976  0.4800  0.0639
8807  99633  0.0  0.0  0.0  0.0445  0.0  0.0195  0.0976  0.4800  0.0639
8808  99636  0.0  0.0  0.0  0.0445  0.0  0.0195  0.0976  0.4891  0.0639
8809  99739  0.0  0.0  0.0  0.0445  0.0  0.0195  0.0976  0.4962  0.0639