In [1]:
import pandas as pd

import sys
sys.path.append("../game")
from tic_tac_toe import Training

pygame 2.1.2 (SDL 2.0.18, Python 3.10.1)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [2]:
games = 100000
state = (1, 2, 1, 0, 2, 0, 0, 0, 0)

t = Training(0.95, 0.1, [1, 0.1, 0.5])
history = t.start(games, history=state)
history = pd.DataFrame(history, columns=["game", "p1", "p2"])

100%|██████████| 100000/100000 [00:15<00:00, 6544.30it/s]

In [3]:
# Check if rows have change
history_p1 = history[["game", "p1"]]
history_p1["match"] = history_p1["p1"].eq(history_p1["p1"].shift())

# Only save rows that have changed
changes_p1 = history_p1.loc[history_p1["match"] == False].drop(columns=["match"])

# Unnest p1 in multiple columns
unnest_p1 = pd.DataFrame(changes_p1["p1"].to_list(), columns=["0", "1", "2", "3", "4", "5", "6", "7", "8"])
unnest_p1 = unnest_p1.join(changes_p1["game"].reset_index()).drop(columns=["index"])
first_column = unnest_p1.pop("game")
unnest_p1.insert(0, "game", first_column)

In [4]:
unnest_p1.round(4)[:5]

   game    0    1    2       3    4       5    6    7    8
0     1  0.0  0.0  0.0  0.0000  0.0  0.0000  0.0  0.0  0.0
1    12  0.0  0.0  0.0  0.0000  0.0  0.0180  0.0  0.0  0.0
2   472  0.0  0.0  0.0  0.0012  0.0  0.0180  0.0  0.0  0.0
3  1139  0.0  0.0  0.0  0.0012  0.0  0.0343  0.0  0.0  0.0
4  3741  0.0  0.0  0.0  0.0011  0.0  0.0343  0.0  0.0  0.0

In [5]:
half = int(unnest_p1.shape[0] / 2)
unnest_p1.round(4)[half:half+5]

     game    0    1    2       3    4       5       6    7    8
76  56848  0.0  0.0  0.0  0.0448  0.0  0.0134  0.0146  0.0  0.0
77  59500  0.0  0.0  0.0  0.0403  0.0  0.0134  0.0146  0.0  0.0
78  59612  0.0  0.0  0.0  0.0363  0.0  0.0134  0.0146  0.0  0.0
79  59615  0.0  0.0  0.0  0.0327  0.0  0.0134  0.0146  0.0  0.0
80  59619  0.0  0.0  0.0  0.0294  0.0  0.0134  0.0146  0.0  0.0

In [6]:
unnest_p1.round(4)[-5:]

      game    0    1    2       3    4       5       6       7    8
147  98655  0.0  0.0  0.0  0.0114  0.0  0.0108  0.0401  0.4673  0.0
148  98673  0.0  0.0  0.0  0.0114  0.0  0.0108  0.0401  0.4666  0.0
149  98743  0.0  0.0  0.0  0.0114  0.0  0.0108  0.0401  0.4658  0.0
150  98753  0.0  0.0  0.0  0.0114  0.0  0.0108  0.0401  0.4418  0.0
151  98765  0.0  0.0  0.0  0.0114  0.0  0.0108  0.0401  0.4434  0.0